# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Note
- Rejection cannot be edited
- Only Pending grants can be rejected
- Read more: https://docs.axual.io/axual/2023.1/self-service/topic-authorizations.html#contents

## Usage
- To reject/deny a grant, create an application_access_grant_rejection with the application_access_grant id.

## Required Roles
- TOPIC ADMIN or be part of the Team that owns the Stream

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{ tffile "examples/axual/33_application_access_grant_rejections.tf" }}

## Import

Import is not currently supported.