# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Note
- Approval cannot be edited
- Revoke grant by destroying application_access_grant_approval
- Read more: https://docs.axual.io/axual/2023.2/self-service/topic-authorizations.html#contents

## Usage
- To approve a grant create an application_access_grant_approval with the grant id
- To revoke a grant, delete the application_access_grant_approval
- To revoke an auto approved grant
  - Create an application_access_grant_approval
  - Then delete that application_access_grant_approval

## Required Roles
- TOPIC_ADMIN or be part of the Team that owns the Topic

{{ .SchemaMarkdown | trimspace }}

## Example Usage

```hcl
resource "axual_application_access_grant_approval" "dash_consume_logs_dev" {
  application_access_grant = axual_application_access_grant.dash_consume_from_logs_in_dev.id
  depends_on = [ axual_application_access_grant.dash_consume_from_logs_in_dev ]
}
```

For a full example which shows the capabilities of the latest TerraForm provider, check https://github.com/Axual/terraform-provider-axual/tree/master/examples/axual.

## Import

Import is not currently supported.