# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Limitations
- Application Credentials (SASL) is not supported for a Connector application.

## Required Roles
- APPLICATION_ADMIN or be part of the Team that owns the Application

{{ .SchemaMarkdown | trimspace }}

## Example Usage

```hcl
resource "axual_application_credential" "credentials" {
  application_id = "aa5600d4a7514a758bcd7b6041e5529d"
  environment_id = "7ae69a37da8b4477aa2f7cfbd45e8058"
  target = "KAFKA"
}
```

For a full example which shows the capabilities of the latest TerraForm provider, check https://github.com/Axual/terraform-provider-axual/tree/master/examples/axual.

## Import

Import is not currently supported.