# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Required Roles
- APPLICATION_AUTHOR or APPLICATION_ADMIN

## Features
Axual Terraform Provider supports both Custom and Connector Application Type. Read more: https://docs.axual.io/axual/2024.4/self-service/application-management.html#custom-vs-connector

{{ .SchemaMarkdown | trimspace }}

## Example Usage

```hcl
resource "axual_application" "dev_dashboard" {
  name    = "DeveloperDashboard"
  application_type     = "Custom"
  short_name = "dev_dash"
  application_id = "io.axual.devs.dashboard"
  owners = axual_group.team-awesome.id
  type = "Java"
  visibility = "Public"
  description = "Dashboard with crucial information for Developers"
  depends_on = [axual_topic_config.logs_in_production, axual_topic.support]
}
```
For a full example which shows the capabilities of the latest TerraForm provider, check https://github.com/Axual/terraform-provider-axual/tree/master/examples/axual.

## Import

Import is supported using the following syntax:

```shell
terraform import axual_application.<LOCAL NAME> <APPLICATION UID>
terraform import axual_application.test_application b21cf1d63a55436391463cee3f56e393
```