# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Limitations
- Approval cannot be edited
- Revoke grant by destroying application_access_grant_approval
- Read more: https://docs.axual.io/axual/2023.1/self-service/topic-authorizations.html#contents

## Usage
- To approve a grant create an application_access_grant_approval with the grant id.
- To revoke a grant, delete the application_access_grant_approval
- To revoke an auto approved grant
- - Create an approval to import it. 
- - Apply the terraform state.
- - Then delete that approval.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{ tffile "examples/axual/33_application_access_grant_approvals.tf" }}

## Import

Import is not currently supported.