# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Note
- Application Access Grant cannot be edited
- Cancel grant by destroying application_access_grant
- Read more: https://docs.axual.io/axual/2025.3/self-service/topic-authorizations.html#contents

## Usage
- To request access to a topic, create an application_access_grant
- To cancel a grant, delete the application_access_grant
- Application Access Grant that are auto authorized do not need any further action.
- Application Access Grant that required further action can be handled with application_access_grant_approval and application_access_grant_rejection.

## Required Roles
- APPLICATION_ADMIN or be part of the Team that owns the Application

{{ .SchemaMarkdown | trimspace }}

## Example Usage

```hcl
resource "axual_application_access_grant" "dash_consume_from_logs_in_dev" {
  application = axual_application.dev_dashboard.id
  topic = axual_topic.logs.id
  environment = axual_environment.development.id
  access_type = "CONSUMER"
  depends_on = [
    axual_application_principal.log_scraper_in_dev_principal,
    axual_topic_config.logs_in_dev
  ]
}
```

For a full example which shows the capabilities of the latest TerraForm provider, check https://github.com/Axual/terraform-provider-axual/tree/master/examples/axual.

## Import

Import is not currently supported.