# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Security
- Since password is a `sensitive` field, Terraform Provider will not print the password in `terraform plan` or `terraform apply` output.
- Terraform will save the password and username in local state file(terraform.tfstate). Please make sure that this file is appropriately secured.
- Here are best practices for securing secrets in Terraform: https://blog.gitguardian.com/how-to-handle-secrets-in-terraform/

## Required Roles
- APPLICATION_ADMIN or be part of the Team that owns the Application

{{ .SchemaMarkdown | trimspace }}

## Example Usage

```hcl
resource "axual_application_credential" "credentials" {
  application = "aa5600d4a7514a758bcd7b6041e5529d"
  environment = "7ae69a37da8b4477aa2f7cfbd45e8058"
  target = "KAFKA"
}
```

For a full example which shows the capabilities of the latest TerraForm provider, check https://github.com/Axual/terraform-provider-axual/tree/master/examples/axual.

## Import

Import is not currently supported.