# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}

## Note
- Schema version cannot be edited

## Example Usage

```hcl
resource "axual_schema_version" "axual_gitops_test_schema_version1" {
  body = file("avro-schemas/gitops_test_v1.avsc")
  version = "1.0.0"
  description = "Gitops test schema version"
}
```

For a full example which shows the capabilities of the latest TerraForm provider, check https://github.com/Axual/terraform-provider-axual/tree/master/examples/axual.

## Import

Import is supported using the following syntax:

```shell
terraform import axual_schema_version.<LOCAL NAME> <SCHEMA_VERSION UID>
terraform import axual_schema_version.axual_gitops_test_schema_version1 2f414c9cace8450e9aa6f2e4bd36f913
```