# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Required Roles
- Be part of the group owning the Stream

{{ .SchemaMarkdown | trimspace }}

## Example Usage

```hcl
resource "axual_topic_browse_permissions" "support_browse_users_and_groups" {
  topic_config = axual_topic_config.support_in_production.id
  users = [axual_user.jane.id, axual_user.john.id]
  groups = [axual_group.team-awesome.id, axual_group.team-bonanza.id]
}
```