# Axual Provider

Axual's Terraform Provider integrates Axual's Self-Service for Apache Kafka into Terraform, enabling users to manage Kafka configurations through infrastructure as code. Self-Service offers fine-grained access control, visibility into topic metadata, and management of topic properties, allowing users to monitor and control their Kafka streaming environment efficiently. Read more: https://docs.axual.io/axual/2024.2/self-service/index.html

## Example Usage

First, make sure to configure the connection to the Trial Account:

{{ tffile "examples/axual/provider.tf" }}

The following example demonstrates the basic functionality of Axual Self-Service. For more advanced features, refer to the 'Resources' and 'Guides' sections.

{{ tffile "examples/axual/main.tf" }}

To create all the resources in this example, the logged-in user (defined in provider.tf) must have the following roles:

- **TENANT_ADMIN** - Required for creating the resources `axual_user` and `axual_group`
- **STREAM_ADMIN** - for creating resources: `axual_topic`, `axual_topic_config`, `axual_application_access_grant_approval`
- **APPLICATION_ADMIN** - for creating resources: `axual_application`, `axual_application_principal`, `axual_application_access_grant`
- **ENVIRONMENT_ADMIN** - for creating resource: `axual_environment`


# Getting started
## Required User Roles
- The Terraform User who is logged in (With a Trial account, the default username kubernetes@axual.com), needs to have at least both of the following user roles:
  - **APPLICATION_ADMIN** - for creating `axual_application`, `axual_application_principal`, `axual_application`
  - **STREAM_ADMIN** - for revoking access request
- Alternatively, they can be the owner of both the application and the topic, which entails being a user in the same group as the owner group of the application and topic.


## Compatibility
| Terraform Provider Version | Supported Platform Manager Version(s) |
|----------------------------|---------------------------------------|
| 2.1.x                      | 7.0.7 - 8.4.x                        |
| 2.2.x                      | 8.5.x                                |
| 2.3.x                      | 8.5.x                                |
| 2.4.x                      | 8.6.x                                |
| 2.5.x                      | 9.1.x                                |
