# Axual Provider

The Axual Terraform Provider integrates Axual's Self-Service for Apache Kafka with Terraform, making it easy to manage Axual's Kafka configurations as code. It offers detailed access control, clear topic visibility, and simple topic settings management, enabling users to monitor and control their Kafka streaming setup effectively.

Learn more about Axual Self-Service: https://docs.axual.io/axual/2025.1/self-service/index.html

## Example Usage
- There are two authentication modes supported by the provider:  **Auth0** and **Keycloak**.

### Auth0 Authentication

- Please follow this guide to connect Terraform Provider to Axual Trial Environment using Auth0: [Trial environment(Auth0)](guides/trial-guide.md)
```

### Keycloak Authentication

- Please use this provider configuration if the authentication is against **Keycloak**. Keycloak is used in `axual cloud` and when deploying Axual Streaming and Axual Governance on Kubernetes:

```hcl
provider "axual" {
  # Default `authMode` is "keycloak", if omitted.
  authmode = "keycloak"
  # URL that will be used by the client for all resource requests
  apiurl   = "https://axual.cloud/api"
  # Axual realm used for the requests
  realm    = "PLEASE_CHANGE_TENANT_NAME"
  # Username for all requests. Will be used to acquire a token. It can be omitted if the environment variable AXUAL_AUTH_USERNAME is used.
  username = "PLEASE_CHANGE_USERNAME"
  # (Sensitive) Password belonging to the user. It can be omitted if the environment variable AXUAL_AUTH_PASSWORD is used.
  password = "PLEASE_CHANGE_PASSWORD"
  # Client ID to be used for OAUTH
  clientid = "self-service"
  # Token url
  authurl  = "https://axual.cloud/auth/realms/PLEASE_CHANGE_TENANT_NAME/protocol/openid-connect/token"
  # OAuth authorization server scopes
  scopes   = ["openid", "profile", "email"]
}
```

The following example demonstrates the basic functionality of Axual Self-Service. For more advanced features, refer to the 'Resources' and 'Guides' sections.

{{ tffile "examples/axual/main.tf" }}

To create all the resources in this example, the logged-in user (defined in provider.tf and imported using `terraform import`) must have the following roles:

- **TENANT_ADMIN** - Required for creating the resources `axual_user` and `axual_group`
- **SCHEMA_AUTHOR** - for creating resource: `axual_schema_version`
- **STREAM_AUTHOR** - for creating resources: `axual_topic`, `axual_topic_config`, `axual_application_access_grant_approval`
- **APPLICATION_AUTHOR** - for creating resources: `axual_application`, `axual_application_principal`, `axual_application_access_grant`
- **ENVIRONMENT_AUTHOR** - for creating resource: `axual_environment`

## Distributed Gitops multi-repo example
- The Axual Terraform provider supports distinct team roles:
  - The Admin Team manages environments, users and groups.
  - The Topic Team handles topic creation, configuration, and access approvals.
  - The Application Team manages applications, deployments, and requests permission to produce to or consume from a topic owned by the Topic Team.
- These capabilities enable a GitOps workflow where teams manage their Terraform states independently and collaborate through resource references using Terraform data sources and approvals.
- The Guide: [Multi-Repo Guide](guides/multi-repo.md)
  - Please follow the guide for a setup where 3 teams have separated responsibilities.

**Key Practices**
- Each team manages their own Terraform state independently.
- Teams utilize dedicated Terraform users configured with the minimum required privileges.
- Teams reference resources from other teams by utilizing Terraform data sources.

## Limitations
- Creating a user with Terraform adds the user to the Self-Service database, but does not register the user in the authentication system (such as Keycloak or Auth0). As a result, users created with Terraform cannot log in to Self-Service.
- For referencing existing users:
    - Use the user data source: https://registry.terraform.io/providers/Axual/axual/latest/docs/data-sources/user
    - Or import existing users using `terraform import`: https://registry.terraform.io/providers/Axual/axual/latest/docs/resources/user#import

## Compatibility
| Terraform Provider Version | Supported Platform Manager Version(s) |
|----------------------------|---------------------------------------|
| 2.1.x                      | 7.0.7 - 8.4.x                        |
| 2.2.x                      | 8.5.x                                |
| 2.3.x                      | 8.5.x                                |
| 2.4.x                      | 8.6.x – 9.0.x                        |
| 2.5.x                      | 9.1.x                                |

## Custom JSON Schema
- Please follow this guide to import Terraform provider's custom JSON schema to improve IDE syntax highlighting, validation and code completion: [Custom JSON Schema Guide](guides/json-schema)